*{
	margin: 0px;
	padding: 0px;
}

#container{
	background: black;
	width: 970px;
	height: 700px;
	border: 5px solid dimgray;
	text-align: center;


}
header p{
	color: orange;
	text-shadow: 2px 2px 8px white;
	font-size: 30px;
	margin-top: 15px;
	margin-bottom: 10px;
}

header{
	background: gray;
	height: 150px;
	width: 300px;
	border: 5px solid dimgray;
	margin-left: 300px;
	margin-top: 150px;
	border-radius: 10px;
}

header ul li{
	height: 30px;
	width: 90px;
	background-color: white;
	display: inline-block;
	margin: 2px;
	border-radius: 3px;
	padding
}
